body{
    background-image: linear-gradient(rgba(235, 91, 182, 0.397) , rgb(33, 218, 238, 0.397));
}
.containerHome{
    border: 25px double ;
    /* border-image: url("images/49e632b7827ccf6b82b9e6daf9a4a848.jpg") 30 round;  */
    border-radius: 20px;
    height: 50rem;
    width: 70rem;
    margin-top: 5%;
    margin-left: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-image: url("images/gif1.gif");
    background-size: cover;
}
h1{
    margin-left: 35%;
    margin-top: 10%;
    font-size: 40px;
}
h2{
    margin-left: 35%;
    margin-top: 50%;
    font-size: 40px;
}
button{
    height: 50px;
    width: 175px;
    color: gold;
    box-shadow: 2px 2px whitesmoke;
}
#play{
    margin-left: 43%;
    font-size: 40px;
    
}