
.containerHome{
    border: 15px solid transparent;
    border-image: url("images/22a0e430523313c103185b0686431db5.jpg") 30 round;

    height: 50rem;
    width: 70rem;
    margin-top: 5%;
    margin-left: 18%;
    background-image: url("images/gif1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    /* background-color: orange; */
}
h2{
    margin-left: 40%;
    margin-top: 50%;
}
#play{
    margin-left: 48%;
}