.theBody{
    /* background-image: url("images/c49c58a4c8ff51579ec93ea2edb289f7.jpg"); */
    
        background-image: linear-gradient(rgba(235, 91, 182, 0.397) , rgb(33, 218, 238, 0.397));

}
.container{
    background-color: rgba(245, 245, 245, 0.849);
}
table{
    margin: auto;
    /* background-image: url("images/be88d409321916772d18c69f9fe80fdf.jpg"); */
    /* color: whitesmoke; */
}
.thCat{
    color: rgba(245, 245, 245, 0.954);
    text-decoration: dotted;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 202, 29);
}
td{
    height: 125px;
    width: 150px;
    z-index: 1;
    /* box-shadow: 2px 2px; */
}
p{
    color: rgb(10, 11, 10);
    font-size: 50px;
    font-weight: bold; 
}
#numTag{
    border: none;
    background-color: rgb(254, 254, 254);
    color: rgb(99, 210, 201);
    width: 55px;
    font-size: 30px;
    font-weight: 400; 
}
.card{
    border: none;
    margin: auto;
    width: 28rem;
    height: 25rem;
}
#one{
    /* image that will display on the card */
    background-image: url("images/cardi\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    font-size: 10rem;
}

#two{
    background-image: url("images/homepage.png");
    background-position: right;
    background-repeat: no-repeat;
}
#three{
    background-image: url("images/homepage.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
#four{
    background-image: url("images/homepage.png");
    background-position: left;
    background-repeat: no-repeat;
}
#five{
    background-image: url("images/2a0a40bce5871532ef14071f500778d3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}
#six{
    background-image: url("images/2a0a40bce5871532ef14071f500778d3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#seven{
    background-image: url("images/nicki.png");
    background-position: top;
    background-size: 100% ;
}
.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
  }
  #eight{
    background-image: url("images/homepage.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
#nine{
    background-image: url("images/homepage.png");
    background-position: left;
    background-repeat: no-repeat;
}
#ten{
    background-image: url("images/2a0a40bce5871532ef14071f500778d3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}
#eleven{
    background-image: url("images/2a0a40bce5871532ef14071f500778d3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}
#twelve{
    background-image: url("images/2a0a40bce5871532ef14071f500778d3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#thirteen{
    background-image: url("images/nicki.png");
    background-position: top;
    background-size: 100% ;
}
  .score{
      border: solid;
      width: 119rem;
      height: 5rem;
  }
  #playerOne{
      border: solid;
      width: 50rem;
  }
