table{
    margin: auto;
    text-align: center;
}
th{
    text-align: center;
}
td{
    height: 125px;
    width: 150px;
}
.card{
    border: solid;
    box-shadow: 2px 2px whitesmoke;
    margin: auto;
    width: 28rem;
    height: 25rem;
   
}
#one{
    background-image: url("images/3d50ebc26ad80853b6045adb73cd4875.jpg")
}
#one:hover{
    opacity: 0;
    /* using opacatiy to hide the image on hover- i intially used */
    transform: rotate(180deg);
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    background-color: blueviolet;
}